<template>
  <div>
    <h4 v-html="this.question.question"></h4>
    <p>You answered:</p>
    <p v-bind:style="styleObject" v-html="this.answer"></p>
    <p>
      The correct answer was:
      <span v-html="this.question.correct_answer"></span>
    </p>
  </div>
</template>

<script>
export default {
  name: "AnswerReview",
  props: ["question", "answer"],
  data: function() {
    return {
      styleObject: {
        color: "red"
      }
    };
  },
  methods: {
    isRightAnswer() {
      if (this.question.correct_answer == this.answer) {
        this.styleObject.color = "green";
      }
    }
  },
  created() {
    this.isRightAnswer();
  }
};
</script>