<template>
  <div>
    <QuizQuestion
      v-on:answerClicked="nextQuestion"
      v-bind:question="currentQuestion"
    ></QuizQuestion>
  </div>
</template>

<script>
import QuizQuestion from "./QuizQuestion";
export default {
  name: "GamePlay",
  data: function() {
    return {
      questions: [],
      currentIndex: 0,
      answers: [],
      currentQuestion: { question: "Loading questions...." }
    };
  },
  components: {
    QuizQuestion
  },
  created() {
    fetch("https://opentdb.com/api.php?amount=10&type=multiple")
      .then(resp => resp.json())
      .then(resp => {
        this.questions = resp.results;
        this.currentQuestion = this.questions[this.currentIndex];
      });
  },
  methods: {
    nextQuestion(alternative) {
      this.currentIndex++;
      this.answers.push(alternative);
      if (this.currentIndex < this.questions.length) {
        this.currentQuestion = this.questions[this.currentIndex];
      } else {
        this.loadQuizResults();
      }
    },
    loadQuizResults() {
      this.$router.push({
        name: "QuizResults",
        params: { answers: this.answers, questions: this.questions }
      });
    }
  }
};
</script>

<style scoped></style>
