<template>
  <div class="container">
    <p class="menu-text">Main menu</p>
    <router-link id="start-game" to="/GamePlay">Start game</router-link>
  </div>
</template>

<script>
export default {
  name: "GameMenu",
  props: {}
};
</script>

<style scoped>
.container {
  align-items: center;
}
.menu-text {
  background-color: aqua;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 35px;
  border-radius: 30px;
  font-size: 2em;
  font-weight: 800;
  height: 98px;
}

#start-game {
  background-color: brown;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 1.5em;
  font-weight: 600;
  padding: 10px;
}
</style>
