<template>
  <div class="quiz-question">
    <p class="question-text" v-html="question.question"></p>
    <button
      class="alternative-button"
      v-for="alternative of this.alternatives"
      :key="alternative"
      v-on:click="answerClicked(alternative)"
    >
      <span class="alternative-text" v-html="alternative"></span>
    </button>
  </div>
</template>

<script>
export default {
  name: "QuizQuestion",
  props: ["question"],
  methods: {
    answerClicked(alternative) {
      this.$emit("answerClicked", alternative);
    },
    shuffle(array) {
      //Helper method for randomizing array
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }
  },
  data() {
    return {
      alternatives: []
    };
  },
  beforeUpdate() {
    this.alternatives = [
      ...this.question.incorrect_answers,
      this.question.correct_answer
    ];
    this.shuffle(this.alternatives);
  }
};
</script>

<style scoped>
.alternative-button {
  color: red;
  background-color: aquamarine;
  border-radius: 10px;
  padding: 15px 15px;
  border: 0px;
  margin: 10px;
  width: 20%;
  text-align: center;
}
.quiz-question {
  align-items: center;
  position: relative;
}

.alternative-text {
  font-weight: bold;
}

.question-text {
  font-weight: bold;
  background-color: aqua;
  border-radius: 10px;
  width: 40%;
  transform: translate(68%, 0);
  padding: 15px 15px;
}
</style>
