<template>
  <div>
    <p>Your score: {{score}}/{{questions.length}}</p>
    <button v-on:click="routeToMenu">Main menu</button>
    <button v-on:click="routeToGamePlay">Play again</button>
    <div v-for="(question, index) of questions" v-bind:key="question.question">
      <AnswerReview v-bind:question="question" v-bind:answer="answers[index]"/>
    </div>
  </div>
</template>

<script>
import AnswerReview from "./AnswerReview";
export default {
  name: "QuizResults",
  props: ["questions", "answers"],
  data() {
    return {
      score: 0
    };
  },
  methods: {
    routeToMenu() {
      this.$router.push({ name: "GameMenu" });
    },
    routeToGamePlay() {
      this.$router.push({ name: "GamePlay" });
    }
  },
  components: {
    AnswerReview
  },
  created() {
    this.questions.forEach((element, index) => {
      this.score += element.correct_answer == this.answers[index];
    });
  }
};
</script>